@import "src/theme/mixins/scrollbars";
:host {
  --page-background: var(--ion-color-light);

  --page-margin: var(--app-fair-margin);
  --page-padding: var(--app-fair-margin);

  --page-hard-shadow: var(--app-hard-shadow);
}

ion-modal {
  --background: rgba(44, 39, 45, 0.2);

  &::part(content) {
    backdrop-filter: blur(6px);
  }

  ion-content {
    --padding-top: 25vh;
    --padding-start: 20px;
    --padding-end: 20px;
    --background: transparent;

    ion-datetime {
      border-radius: 8px;
    }
  }
}

ion-toolbar {
  --background: var(--page-background);
  ion-title {
    // width: auto;
    padding-left: 50px;
    p {
      margin: auto;
    }
  }
  ion-button {
    .icon-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      ion-icon {
        font-size: large;
      }
      ion-label {
        font-size: small;
      }
    }
  }
}

ion-content.todos-content {
  @include hide-scrollbars();
  &::part(background) {
    background: var(--page-background);
  }

  .content-container {
    margin: var(--page-margin);
    padding-bottom: var(--page-padding);
    min-height: 100%;
  }

  .top-bar {
    display: flex;
    align-items: center;

    ion-searchbar {
      -webkit-padding-start: 0px;
      padding-inline-start: 0px;
      -webkit-padding-end: 0px;
      padding-inline-end: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      --background: var(--ion-color-lightest);
      --box-shadow: inset -2px 2px 4px 0px rgb(0 0 0 / 16%);
      --border-radius: 8px;
    }
    ion-button {
      max-height: 36px;
      padding: 0 0 0 8px;
      margin: 0;
    }
  }

  ion-item.select-range{
    --padding-start: 18px;
    ion-icon{
      font-size: 16px;
      margin-right: 4px;
    }
    ion-label{
      font-size: 12px;
      margin-right: 2px;
    }
    .date-range {
      min-width: 40%;
      display: flex;
      margin-left: 4px;
      margin-right: 4px;
      ion-button{
        --padding-start: 2px;
        --padding-end: 2px;
        min-width: 70px;
        border: none;
        border-bottom: 1px solid var(--ion-color-dark);
        border-bottom: 1px;
      }
    }
  }

  ion-item-divider {
    text-transform: capitalize;
    background: transparent;
  }

  ion-card.simple {
    border-radius: 20px;
    margin: var(--page-margin) 0;
    box-shadow: var(--page-hard-shadow);
    ion-card-header {
      ion-card-title {
        font-size: 24px;
      }
    }

    ion-card-content {
      padding-inline-start: 0px;
      padding-inline-end: 0px;
      padding-inline-end: 0px;
    }

    ion-item {
      --background: initial;

      ion-checkbox {
        --size: 14px;
        color: var(--ion-color-medium);
        margin-right: 8px;
      }
      .date {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        color: var(--ion-color-medium);
        font-size: 12px;
        margin: 0;
      }
      ion-label {
        white-space: normal;
        font-family: var(--ion-font-family);
        &.text-title {
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
        }
        &.text-subtitle {
          p {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 10px;
          }
        }
      }
    }
    ion-item.todo-item {
      ion-label {
        .todo-label {
          color: var(--ion-color-dark);
        }
      }
    }
  }
}
